*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

.map {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.location-icon {
    font-size: 2rem;
    color: red;
}

.info {
    padding: 1rem 2rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    display: grid;
    place-items: center;
    min-height: 15rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 30vw;
    font-family: "Arial";
}
